/* Start of AAS */
html, body {
	font-size: 100%;
}
*, ::before, ::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
@font-face {
  font-family: franklin-gothic-urw;
  src: url("https://use.typekit.net/af/9cb78a/0000000000000000000118ad/27/l?subset_id=2&fvd=n4&v=3") format("woff2"), url("https://use.typekit.net/af/9cb78a/0000000000000000000118ad/27/d?subset_id=2&fvd=n4&v=3") format("woff"), url("https://use.typekit.net/af/9cb78a/0000000000000000000118ad/27/a?subset_id=2&fvd=n4&v=3") format("opentype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: franklin-gothic-urw-cond;
  src: url("https://use.typekit.net/af/e984ad/0000000000000000000118b5/27/l?subset_id=2&fvd=n4&v=3") format("woff2"), url("https://use.typekit.net/af/e984ad/0000000000000000000118b5/27/d?subset_id=2&fvd=n4&v=3") format("woff"), url("https://use.typekit.net/af/e984ad/0000000000000000000118b5/27/a?subset_id=2&fvd=n4&v=3") format("opentype");
  font-style: normal;
  font-weight: 400;
}
body {
	font-family: "franklin-gothic-urw",sans-serif;
	font-size: 16px;
	margin: 0px;
	padding: 0px;
	color: #333;
	font-weight: normal;
	font-style: normal;
	line-height: 1.5;
	cursor: auto;
}
h1, h2, h3, h4 { color: #007aa0; font-family: "franklin-gothic-urw-cond", sans-serif; }
h1 { font-size: 32px; line-height: 1.25; }
header {
	background-color: rgb(204, 221, 246);
	color: rgb(51, 51, 51);
	margin-bottom: 2em;
}
header h1, header h2 { color: inherit; }
.row {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 2em;
	max-width: 62.5rem;
}
.row:before, .row:after { content:" "; display:table }
.row:after { clear:both }
.column, .columns {
	position: relative;
	padding-left: 0.9375rem;
	padding-right: 0.9375rem;
	float: left;
}
.large-4 {
	width: 33.33333%;
}
.large-8 {
	width: 66.66667%;
}
.row > .large-4 { padding-left: 0px; }
.row .large-8:last-child { padding-right: 0px; }
[class*="column"] + [class*="column"]:last-child {
	float: right;
}
.panel.callout {
	border-style: solid;
	border-width: 1px;
	border-color: #b6edff;
	padding: 1.25rem;
	background: #ecfaff;
	background-color: rgb(236, 250, 255);
	color: #333;
}
.panel.callout {
	background-color: #e4e9f2;
	border: 0;
}
p, ul, ol {
	line-height: 1.5;
}
.panel.callout > ul {
	list-style: none;
	margin: 0;
	padding: 0px;
}
.panel.callout > ul > li {
	border-top: 1px solid #ccc;
	padding: .25em 0;
}
.panel.callout > ul > li:first-child {
	border-top: 0px;
	padding-top: 0;
}
.panel.callout > ul li:last-child {
	padding-bottom: 0;
}
.panel.callout li > a {
	display: block;
	text-decoration: none;
}
.panel.callout a:not(.button) {
	color: #253788;
}
.panel.callout a:hover:not(.button), .panel.callout a:focus:not(.button) {
	color: #839ac6;
}
footer {
	font-size: 14px;
}
.bkg-tint {
	background-color: #e4e9f2;
}