a { text-decoration: none; }
a:hover { text-decoration: underline; }
#forkme_banner { float: right; display: inline-block; color: white; padding: 0.5em 1em; background-color: rgba(0,0,0,0.4); border-radius: 0 0 8px 8px; }
header h1 { margin: 0px; padding-top: 0.5em; }
header h2 { margin-top: 0em; margin-bottom: 0.5em; }

figure {
	text-align: center;
	line-height: 0px;
	background: #fff;
	padding: 0em;
	margin: 0;
}
figure > div {
	margin: auto;
	display: inline-block;
	line-height: 1em;
}

#examples > ol {
	margin: 0px;
	padding: 0px;
}
#examples > ol li {
	list-style: none;
	padding: 2em;
	background-color: white;
	margin-bottom: 2em;
}
#examples > ol li h3 {
	margin-top: 0px;
}
.vega-embed {
	position: relative;
}
.vega-actions-wrapper {
	position: absolute;
	top: 0px;
	right: 0px;
}
section { 
	padding: 2em 0;
}
section > h2 {
	margin-top: 0px;
}
code {
	color: #253788;
	font-weight: 600;
}
pre.prettyprint {
	font-size: 14px;
	background: rgba(228, 233, 242, 0.4);
	padding: 1em;
	tab-size: 4;
	-moz-tab-size: 4;
}


figure figcaption {
	text-align: center;
	font-size: 0.8em;
	color: #555;
}

figure figcaption {
	line-height: 1.2em;
	margin-top: 0.5em;
	margin-bottom: 1em;
}

.seasonal { background-color: #396bad; }
.loader {
	content: "";
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	background-color: rgba(0,0,0,0.1);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.spinner {
	width: 50px;
	height: 50px;
	text-align: center;
	font-size: 10px;
}
.spinner > div {
	height: 100%;
	width: 6px;
	margin-right: 1px;
	display: inline-block;
	-webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
	animation: sk-stretchdelay 1.2s infinite ease-in-out;
}
.spinner .rect2 {
	-webkit-animation-delay: -1.1s;
	animation-delay: -1.1s;
}

.spinner .rect3 {
	-webkit-animation-delay: -1.0s;
	animation-delay: -1.0s;
}

.spinner .rect4 {
	-webkit-animation-delay: -0.9s;
	animation-delay: -0.9s;
}

.spinner .rect5 {
	-webkit-animation-delay: -0.8s;
	animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
	0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
	20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
	0%, 40%, 100% { 
		transform: scaleY(0.4);
		-webkit-transform: scaleY(0.4);
	}  20% { 
		transform: scaleY(1.0);
		-webkit-transform: scaleY(1.0);
	}
}

@media only screen and (max-width: 1080px) {
	.row { padding: 0 1em; }
	figure > div, img, canvas { max-width: 100%!important; }
}