.graph-tooltip {
	position: absolute;
	background-color: black;
	color: white;
	padding: 0.25em 0.5em;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.6);
	text-align: left;
}
.aas-theme { font-size: 0.8em; }
.aas-theme td:first-child{
	text-align: right;
	vertical-align: top;
}